<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Statement for {{ user.name }}</title>
        {{> styles }}
    </head>
    <body>
        <div class="text-center text-xxs uppercase">
            <h2>Statement for {{ user.name }} from {{ from }} to {{ to }}</h2>
        </div>
        <table class="w-full mb-1">
            <tbody>
                <tr>
                    <td class="px-2 p-4l-4 h-3 text-left">
                        Account Balance: Ksh. {{ balance }}<br />
                        Total Sales: Ksh. {{ total }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="w-full mb-1">
            <thead class="text-xs uppercase text-gray-400 bg-gray-50 rounded-sm">
                <tr>
                    <th class="px-2 pl-4 text-left">No</th>
                    <th class="px-2 pl-4 text-left">Description</th>
                    <th class="px-2 pl-4 text-left">Sale Value</th>
                    <th class="px-2 pl-4 text-left">Debit</th>
                    <th class="px-2 pl-4 text-left">Credit</th>
                    <th class="px-2 pl-4 text-left">Balance</th>
                    <th class="px-2 pl-4 text-left">Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions}}
                    <tr>
                        <td class="px-2 p-4l-4 h-3 text-left text-xxs">{{sum @key 1 }}.</td>
                        <td class="px-2 p-4l-4 h-3 text-left text-xxs">{{ this.description }}</td>
                        <td class="px-2 p-4l-4 h-3 text-left text-xxs">{{ this.value }}</td>
                        <td class="px-2 p-4l-4 h-3 text-center text-xxs">{{ this.debit }}</td>
                        <td class="px-2 pl h-3 text-left text-xxs">{{ this.credit }}</td>
                        <td class="px-2 pl h-3 text-center text-xxs">{{ this.balance }}</td>
                        <td class="px-2 pl h-3 text-center text-xxs">{{ this.date }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>
